<h1>Dashboard#show</h1>
<%= image_tag @user.image %>
<h2><%= @user.name %> <small>(<%= @user.nickname %>)</small></h2>
<p><%= @user.email %></p>
<%= link_to 'Logout', '/logout' %>
<pre><%= session[:userinfo].to_yaml %></pre>
